MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_DB=mc-perfumery-db
JWT_SECRET=your_jwt_secret
ADMIN_TOKEN=your-admin-token
NEXT_PUBLIC_ADMIN_TOKEN=your-admin-token
NEXT_PUBLIC_ADMIN_PASSWORD=demi
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-smtp-email@gmail.com
SMTP_PASS=your-smtp-password
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
